body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}


h1, h2, h3 {
  color: #222;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #0078d7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: auto;
}
